{namespace maps=Tx_Medgooglemaps_ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">

<v:asset.style path="{settings.cssFile}" />

<v:variable.set name="classes" value="{f:if(condition: settings.classes, then: '{settings.classes}')}" />

<v:variable.set name="width" value="{f:if(condition: settings.width, then: '{settings.width}', else: '450px')}" />
<v:variable.set name="height" value="{f:if(condition: settings.height, then: '{settings.height}', else: '250px')}" />

<div{f:if(condition: classes, then: ' class="{classes}"')} id="map_canvas_{uid}" style="width: {width}; height: {height};"></div>

</f:section>